In [1]:
!pip install tweet-preprocessor

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tweet-preprocessor in c:\users\hajer\appdata\roaming\python\python310\site-packages (0.6.0)

WARNING: Ignoring invalid distribution -ip (c:\users\hajer\appdata\roaming\python\python310\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\hajer\appdata\roaming\python\python310\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\hajer\appdata\roaming\python\python310\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\hajer\appdata\roaming\python\python310\site-packages)

In [2]:
import pandas as pd
import re
import preprocessor as p
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

#creating a dataframe for our dataset "subject_questions"
df = pd.read_csv("Sentence,Cluster.txt")

#printing first 5 rows of our dataset/dataframe
df.head()

                                            Sentence  Cluster
0  The quadratic equation is used to solve second...    Maths
1  Trigonometry helps calculate angles and distan...    Maths
2  Einstein's theory of relativity revolutionized...  Physics
3  The laws of thermodynamics explain the transfe...  Physics
4  Chemical reactions occur when atoms rearrange ...  Science

In [4]:
df.shape

(442, 2)

In [6]:
#encoding labels

df['Cluster']=df['Cluster'].map({'Science':0,
                             'Sport':1,
                             'Physics':2,
                             'Maths':3,
                             'Literature':4,
                            'Economics':5,
                            'Programming':6   
                                 })

In [8]:
df.head()

                                            Sentence  Cluster
0  The quadratic equation is used to solve second...        3
1  Trigonometry helps calculate angles and distan...        3
2  Einstein's theory of relativity revolutionized...        2
3  The laws of thermodynamics explain the transfe...        2
4  Chemical reactions occur when atoms rearrange ...        0

In [7]:
def clean_tweets(df):
    # punctuations we want to be replaced
    REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
    REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")
    corpus = []
    for line in df:
        # clean data by sending it to tweet_processor
        sentence = p.clean(line)
        # remove puctuation
        sentence = REPLACE_NO_SPACE.sub("", sentence.lower()) # convert all tweets to lower cases
        sentence = REPLACE_WITH_SPACE.sub(" ", sentence)
        corpus.append(sentence)
    return corpus

In [9]:
df['Sentence_clean'] = clean_tweets(df['Sentence'])
df.shape

(442, 3)

In [10]:
df['Sentence_clean']

0      the quadratic equation is used to solve second...
1      trigonometry helps calculate angles and distan...
2      einsteins theory of relativity revolutionized ...
3      the laws of thermodynamics explain the transfe...
4      chemical reactions occur when atoms rearrange ...
                             ...
437    analyze the process of cellular respiration an...
438    apply game theory concepts such as dominant st...
439    calculate the gross national product gnp by su...
440    use economic models such as the solow growth m...
441    implement web scraping techniques in python to...
Name: Sentence_clean, Length: 442, dtype: object

In [11]:
corpus = list(df['Sentence_clean'])

In [24]:
!pip install allennlp

In [ ]:
from allennlp.commands.elmo import ElmoEmbedder

# ElMO
elmo_embedder = ElmoEmbedder()
sentence_embeddings = list(elmo_embedder.embed_sentences(sentences))

ModuleNotFoundError: No module named 'allennlp'

In [13]:
num_clusters = 7
clustering_model = KMeans(n_clusters=num_clusters)
clustering_model.fit(tfidf_matrix)
cluster_assignment = clustering_model.labels_
cluster_assignment

C:\Users\hajer\AppData\Roaming\Python\Python310\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

array([1, 3, 3, 4, 0, 3, 3, 3, 1, 1, 2, 3, 1, 4, 1, 1, 3, 6, 1, 3, 1, 0,
       3, 1, 1, 1, 3, 1, 5, 3, 3, 3, 3, 2, 1, 3, 3, 5, 1, 1, 3, 1, 3, 3,
       3, 6, 1, 3, 1, 5, 3, 3, 1, 1, 3, 1, 0, 4, 4, 6, 1, 3, 1, 3, 3, 3,
       1, 3, 3, 1, 3, 4, 3, 6, 1, 3, 1, 1, 3, 3, 3, 1, 2, 1, 3, 3, 4, 6,
       3, 3, 1, 0, 3, 3, 1, 3, 3, 1, 0, 4, 3, 6, 3, 3, 1, 5, 3, 3, 6, 3,
       3, 1, 0, 3, 4, 6, 0, 0, 3, 3, 3, 3, 3, 3, 3, 1, 3, 4, 3, 6, 3, 3,
       3, 1, 3, 3, 2, 3, 1, 3, 3, 2, 1, 3, 1, 4, 3, 1, 3, 3, 1, 3, 1, 3,
       3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 4, 3, 6, 0, 3, 1, 3,
       3, 3, 6, 3, 3, 1, 0, 3, 3, 6, 3, 3, 1, 0, 0, 3, 6, 3, 3, 3, 5, 3,
       5, 1, 1, 1, 0, 3, 3, 2, 2, 1, 1, 5, 1, 4, 3, 3, 6, 1, 3, 1, 0, 3,
       3, 6, 1, 3, 1, 3, 4, 3, 6, 1, 3, 1, 3, 3, 3, 6, 0, 3, 1, 0, 3, 3,
       2, 1, 3, 3, 3, 3, 4, 3, 3, 3, 3, 1, 3, 3, 0, 3, 3, 5, 3, 5, 1, 1,
       1, 0, 3, 3, 2, 2, 1, 1, 5, 1, 5, 1, 0, 3, 2, 2, 4, 5, 5, 3, 0, 4,
       4, 5, 3, 0, 2, 4, 5, 3, 0, 2, 4, 5, 3, 3, 3, 3, 1, 3, 0, 3, 4, 5,
       3, 5, 5, 5, 3, 0, 5, 3, 3, 5, 5, 4, 5, 4, 3, 5, 5, 5, 5, 5, 0, 4,
       3, 3, 2, 4, 4, 3, 5, 3, 5, 5, 3, 3, 0, 3, 3, 2, 3, 4, 4, 4, 5, 4,
       5, 5, 4, 3, 4, 3, 3, 4, 5, 3, 5, 5, 5, 5, 0, 3, 0, 2, 5, 5, 4, 4,
       4, 3, 3, 5, 5, 5, 4, 3, 0, 4, 4, 5, 3, 4, 4, 4, 3, 5, 5, 5, 5, 4,
       3, 3, 4, 2, 2, 4, 4, 4, 4, 3, 5, 5, 5, 4, 3, 4, 3, 4, 4, 3, 5, 5,
       5, 5, 4, 3, 4, 4, 4, 5, 4, 4, 4, 4, 3, 5, 5, 5, 4, 3, 3, 4, 4, 3,
       4, 4])

In [14]:
df['cluster']=cluster_assignment
df.head(20)

,Sentence,Cluster,Sentence_clean,cluster
0,The quadratic equation is used to solve second...,3,the quadratic equation is used to solve second...,1
1,Trigonometry helps calculate angles and distan...,3,trigonometry helps calculate angles and distan...,3
2,Einstein's theory of relativity revolutionized...,2,einsteins theory of relativity revolutionized ...,3
3,The laws of thermodynamics explain the transfe...,2,the laws of thermodynamics explain the transfe...,4
4,Chemical reactions occur when atoms rearrange ...,0,chemical reactions occur when atoms rearrange ...,0
5,The human body consists of trillions of cells.,0,the human body consists of trillions of cells,3
6,Cristiano Ronaldo scored a goal in the soccer ...,1,cristiano ronaldo scored a goal in the soccer ...,3
7,Usain Bolt holds the world record for the 100-...,1,usain bolt holds the world record for the met...,3
8,William Shakespeare is known for his plays and...,4,william shakespeare is known for his plays and...,1
9,To Kill a Mockingbird is a classic novel by Ha...,4,to kill a mockingbird is a classic novel by ha...,1
10,Supply and demand determine the prices of good...,5,supply and demand determine the prices of good...,2
11,The stock market is influenced by various econ...,5,the stock market is influenced by various econ...,3
12,Java is a versatile programming language used ...,6,java is a versatile programming language used ...,1
13,Machine learning algorithms enable computers t...,6,machine learning algorithms enable computers t...,4
14,The chemical formula for water is H2O.,0,the chemical formula for water is h2o,1
15,Gravity is responsible for the attractive forc...,2,gravity is responsible for the attractive forc...,1
16,Algebra is a branch of mathematics that deals ...,3,algebra is a branch of mathematics that deals ...,3
17,"Tennis requires agility, skill, and strategy.",1,tennis requires agility skill and strategy,6
18,Macbeth is one of Shakespeare's tragic plays.,4,macbeth is one of shakespeares tragic plays,1
19,Inflation affects the purchasing power of a cu...,5,inflation affects the purchasing power of a cu...,3

In [15]:
import numpy as np

def tri_et_index(tableau):
    # Obtenir les indices des valeurs triées en ordre décroissant
    indices_tries = np.flip(np.argsort(tableau))

    return indices_tries

In [17]:
import numpy as np

def map_labels(predicted_labels, true_labels):
    unique_predicted_labels = np.unique(predicted_labels)
    label_mapping = {index: 10 for index in unique_predicted_labels}

    for predicted_label in unique_predicted_labels:
        i=0
        mask = predicted_labels == predicted_label
        cluster_true_labels = true_labels[mask]
        true_label_counts = np.bincount(cluster_true_labels)
        indexs=tri_et_index(true_label_counts)
        most_frequent_true_label=indexs[i]
        l=[label_mapping[label] for label in unique_predicted_labels]

        while most_frequent_true_label in l[:predicted_label]:
            most_frequent_true_label = indexs[i+1]
            i+=1
        label_mapping[predicted_label] = most_frequent_true_label

    return label_mapping

label_mapping = map_labels(cluster_assignment,df["Cluster"])

In [18]:
mapped_predicted_labels = np.array([label_mapping[label] for label in cluster_assignment])
unique_values = np.unique(mapped_predicted_labels)
label_mapping

{0: 0, 1: 6, 2: 5, 3: 2, 4: 3, 5: 4, 6: 1}

In [19]:
from sklearn.metrics import accuracy_score
clustering_accuracy = accuracy_score(df["Cluster"], mapped_predicted_labels)

clustering_accuracy

0.29411764705882354